<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js" defer></script>

</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="news-catalog catalog_animation">
    <div class="news-catalog_name">
        <h3 class="news-catalog_name_text">Материнаские платы</h3>
    </div>
    <div class="news_list">
        <div class="news-catalog-item">
            <div class="product">
                <img src="images/recomandation/1.jpg" alt="" class="product-img">
                <div class="product-info">
                    <p class="product-info info-text-first">ТОП-5 современных смартфонов-долгожителей</p>
                    <p class="product-info info-text-second">Пятерка смартфонов, способных работать несколько суток без подзарядки</p>
                    <input id="number" type="number" value="1">
                </div>
            </div>
        </div>

        <tr th:each="product : ${products}">
            <div class="news-catalog-item">

                <div class="product">
                    <img th:src="${product.getPath_to_file()}" th:alt="${product.getDescription()}" class="product-img">
                    <div class="product-info">
                        <p class="product-info info-text-first"><td th:text="${product.getName()}"></td></p>
                        <p class="product-info info-text-second"><td th:text="${product.getPrice()}"></td></p>
                        <a th:href="@{/product/} + ${product.getIdProduct()}" class="header-item">Перейти</a>
                    </div>
                </div>

            </div>
        </tr>
    </div>
</div>


</div>
</body>
</html>