<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js" defer></script>

</head>
<body>

<header th:insert="blocks/header :: header"></header>
<header th:insert="blocks/header :: herobbaner"></header>



<div class="news-catalog catalog_animation">
    <div class="news-catalog_name">
        <h3 class="news-catalog_name_text">Материнаские платы</h3>
    </div>
    <div class="news_list">
        <div class="news-catalog-item">
            <div class="product">
                <img src="images/recomandation/1.jpg" alt="" class="product-img">
                <div class="product-info">
                    <p class="product-info info-text-first">ТОП-5 современных смартфонов-долгожителей</p>
                    <p class="product-info info-text-second">Пятерка смартфонов, способных работать несколько суток без подзарядки</p>
                    <input id="number" type="number" value="1">
                </div>
            </div>
        </div>

        <tr th:each="product : ${products}">
            <div class="news-catalog-item">

                <div class="product">
                    <img th:src="${product.getPath_to_file()}" th:alt="${product.getDescription()}" class="product-img">
                    <div class="product-info">
                        <p class="product-info info-text-first"><td th:text="${product.getName()}"></td></p>
                        <p class="product-info info-text-second"><td th:text="${product.getPrice()}"></td></p>
                        <a th:href="@{/product/} + ${product.getIdProduct()}" class="header-item">Перейти</a>
                    </div>
                </div>

            </div>
        </tr>
    </div>
</div>

<section class="section section-contacts">
    <div class="container section-contacts_container">
        <header class="section_header">
            <h2 class="section_title section-contacts_title_main">Контакты</h2>
        </header>
        <div class="contacts">
            <div class="contacts_start">
                <div class="contacts_map"> <img class="map_img" src="images/about/map2.jpg"> </div>
            </div>
            <div class="contacts_end">
                <div class="contacts_item">
                    <h3 class="contacts_title">Адрес</h3>
                    <p class="contacts_text">Украина, г. Харьков, ул. Семена Палия, 125-А</p>
                </div>
                <div class="contacts_item">
                    <h3 class="contacts_title">Телефон</h3>
                    <a class="contacts_phone" href="tel:+380993843626">+38 (099) 384-36-26</a>
                </div>
                <div class="contacts_item">
                    <h3 class="contacts_title">Социальные сети</h3>
                    <ul class="socials">
                        <li class="socials_item">
                            <a href="#" class="socials_link" target="_blank">
                                <img class="socials_icon socials_icon-fb" src="images/about/fe.png" alt="Facebook">
                            </a>
                        </li>
                        <li class="socials_item">
                            <a href="#" class="socials_link" target="_blank">
                                <img class="socials_icon socials_icon-inst" src="images/about/instagram-logo.png" alt="Instagram">
                            </a>
                        </li>
                        <li class="socials_item">
                            <a href="#" class="socials_link" target="_blank">
                                <img class="socials_icon socials_icon-vk" src="images/about/vk-logo.png" alt="VK">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</div>
</body>
</html>