<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<header th:insert="blocks/header :: header"></header>



<div class="Product_page_outer">
    <form action="/product/{idProduct}" method="post">
            <tr th:each="product : ${products}">
                <div class="products">
                    <img th:src="${product.getPath_to_file()}" th:alt="${product.getDescription()}" class="product-img">
                    <div class="product_info">
                        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                        <p class="product-info info-text-first"><td th:text="${product.getName()}"></td></p>
                        <p class="product-info info-text-second">Цена: <td th:text="${product.getPrice()}"></td></p>
                        <p class="product-info info-text-second">Описание: <td th:text="${product.getDescription()}"></td></p>
                    </div>
                </div>
                <div class="add_basket">
                    <span sec:authorize="isAuthenticated()">
                        <label>Количество:<br><input type="number" name="amount" class="form-control"></label><br>
                        <input th:name="idProduct" th:value="${product.getIdProduct()}" type="hidden">
                        <button type="submit" class="btn btn-success">Добавить в корзину</button>
                    </span>
                </div>

            </tr>

    </form>
</div>






</body>
</html>

