<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


<header th:insert="blocks/header :: header"></header>


<div class="container mt-5 mb-5">
    <h1 th:text="${title}"/>
    <form action="/product/{idProduct}" method="post">
        <tr th:each="product : ${products}">
            <div class="news-catalog-item">

                <div class="product">
                    <img th:src="${product.getPath_to_file()}" th:alt="${product.getDescription()}" class="product-img">
                    <div class="product-info">
                        <p class="product-info info-text-first"><td th:text="${product.getName()}"></td></p>
                        <p class="product-info info-text-second"><td th:text="${product.getPrice()}"></td></p>
                        <label>Количество:<br><input type="number" name="amount" class="form-control"></label><br>
                        <button type="submit" class="btn btn-success">Добавить</button>
                    </div>
                </div>

            </div>
        </tr>
    </form>
</div>



</body>
</html>

