<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js" defer></script>
</head>
<body>


<header th:insert="blocks/header :: header"></header>



<div class="Product_page_outer">
    <h1 th:text="${title}"/>
    <form action="/idCategory/{idProduct}" method="post">
        <tr th:each="product : ${products}">

            <img th:src="${product.getPath_to_file()}" th:alt="${product.getDescription()}" class="product-img">
            <label>Name: <td th:text="${product.getName()}"></td><br><input type="text" name="Name" th:value="${product.getName()}" class="form-control"></label><br>
            <label>Price: <td th:text="${product.getPrice()}"></td><br><input type="number" name="Price" th:value="${product.getPrice()}" class="form-control"></label><br>
            <label>idType: <td th:text="${product.getIdType()}"></td><br><input type="number" name="idType" th:value="${product.getIdType()}" class="form-control"></label><br>
            <label>Description: <td th:text="${product.getDescription()}"></td><br><textarea  style="width: 600px; height: 200px;" name="Description" th:value="${product.getDescription()}" class="form-control"></textarea></label><br>
            <span sec:authorize="isAuthenticated()">
                <input th:name="idProduct" th:value="${product.getIdProduct()}" type="hidden">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                <button type="submit" class="btn btn-success">Изменить</button>
            </span>

        </tr>
    </form>
</div>


</body>
</html>