<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/main.js" defer></script>
</head>
<body>


<header th:insert="blocks/header :: header"></header>



<div class="container mt-5 mb-5">
    <h1 th:text="${title}"/>
    <form action="/updateProduct/{idProduct}" method="post">
        <tr th:each="product : ${products}">
            <div class="news-catalog-item">

                <div class="product">
                    <img th:src="${product.getPath_to_file()}" th:alt="${product.getDescription()}" class="product-img">
                    <div class="product-info">


                        <label>Name: <td th:text="${product.getName()}"></td><br><input type="text" name="Name" value="name" class="form-control"></label><br>
                        <label>Price: <td th:text="${product.getPrice()}"></td><br><input type="number" name="Price" value="0" class="form-control"></label><br>
                        <label>idType: <td th:text="${product.getIdType()}"></td><br><input type="number" name="idType" value="0" class="form-control"></label><br>


                        <span sec:authorize="isAuthenticated()">
                            <input th:name="idProduct" th:value="${product.getIdProduct()}" type="hidden">
                            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
                            <button type="submit" class="btn btn-success">Изменить</button>
                        </span>


                    </div>
                </div>

            </div>
        </tr>
    </form>
</div>


</body>
</html>