<div class="header-frag" th:fragment="header">
    <header class="top_header-section">
        <div class="header-page">
            <img src="images/logo2.jpg" class="header_logo" alt="">
            <!--<div class="top_header_item headerlogo">El Shop</div>-->

            <div class="header-page_end">
                <nav class="header-page_nav">
                    <ul class="header-page_ul">
                        <span sec:authorize="hasRole('USER')">
                            <a class="header-page_li" href="/basket">корзина </a>
                        </span>

                        <span sec:authorize="hasRole('ADMIN')">
                            <a class="header-page_li" href="/orders">заказы </a>
                        </span>

                        <span sec:authorize="hasRole('ADMIN')">
                            <a class="header-page_li" href="/addProduct">Добавить товар</a>
                        </span>

                        <span sec:authorize="hasRole('ADMIN')">
                            <a class="header-page_li" href="/editProduct">Редактировать товар</a>
                        </span>


                        <span sec:authorize="isAuthenticated()">
                            <a class="header-page_li" href="/profilePage">Аккаунт</a>
                        </span>
                        <span sec:authorize="!isAuthenticated()">
                            <a class="header-page_li" href="/login">Войти</a>
                        </span>
                        <span sec:authorize="isAuthenticated()">
                            <a class="header-page_li" href="/logout">Выйти</a>
                        </span>

                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <header class="main_header-section">
        <div class="main_header_lest_side">
            <div class="main_header_item headerButton">
                <a href="/motherboard" class="header-item">Материнская плата</a>
            </div>
            <div class="main_header_item headerButton">
                <a href="/graphicsCard" class="header-item">Видеокарты</a>
            </div>
            <div class="main_header_item headerButton">
                <a href="/processor" class="header-item">Процессоры</a>
            </div>
        </div>
        <div class="header_button">
            <div class="main_header_item headerButton_mag" onclick="handleClick()">
                <a href="#" class="main_header_mag">Магазин</a>
            </div>
        </div>
    </header>
</div>

<div class="herobanner-header" th:fragment="herobbaner">
    <section class="herobanner_main">
        <div class="herobanner section">
            <div class="slider">
                <div class="slides">

                    <div class="overflow">
                        <div class="inner">
                            <div class="info-text-first">
                                <p class="header_info_first">Новая техника по лучшим ценам</p>
                            </div>
                            <div class="info-text-second">
                                <p class="header_info_second">Протестируй новейшую технику</p>
                            </div>
                            <div class="inner-button"><a  href="#" class="inner-btn-pod">ПОДРОБНЕЕ</a></div>
                        </div>
                    </div>

                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <input type="radio" name="radio-btn" id="radio5">

                    <div class="slide first">
                        <picture>
                            <source srcset="images/herobanner/1_mobile.jpg" media="(max-width: 575px)">
                            <img src="images/herobanner/1.jpg" alt="">
                        </picture>
                    </div>

                    <!--
                    <div class="slide">
                        <picture>
                            <source srcset="images/herobanner/2_mobile.jpg" media="(max-width: 575px)">
                            <img src="images/herobanner/2.jpg" alt="">
                        </picture>
                    </div>
                    <div class="slide">
                        <picture>
                            <source srcset="images/herobanner/3_mobile.jpg" media="(max-width: 575px)">
                            <img src="images/herobanner/3.jpg" alt="">
                        </picture>
                    </div>
                    <div class="slide">
                        <picture>
                            <source srcset="images/herobanner/4_mobile.jpg" media="(max-width: 575px)">
                            <img src="images/herobanner/4.jpg" alt="">
                        </picture>
                    </div>
                    <div class="slide">
                        <picture>
                            <source srcset="images/herobanner/5_mobile.jpg" media="(max-width: 575px)">
                            <img src="images/herobanner/5.jpg" alt="">
                        </picture>
                    </div>!-->

                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                        <div class="auto-btn5"></div>
                    </div>
                </div>

                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                    <label for="radio5" class="manual-btn"></label>
                </div>



            </div>



        </div>
    </section>
</div>